* {
  box-sizing: border-box;
  /* ברגע שנעשה פדינג או מרזינן זה יוסיף לגודל הקיים את לכן נרצה שאם הגדרנו גודל הוא יהיה קבוע ונכנס פנימה  */
}
.div-1 {
  /* background-image: url("../img/12.jpg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
.div-main-logo {
  /* background-image: url("../img/17896936_5915506.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff3e9ac;
}
.img {
  width: 400px;
  height: 400px;
}
.i {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* z-index: 11; */
  /* top: 0;
  left: 0; */
  /* opacity: 0.5; */

  /* position: sticky; */
  /* top: 0; */
}
.div-about {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 25px;
  background-color: #fddce5bd;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  flex: 3;
}
.i {
  /* border: 10px solid #f8e7d9; */
  border: 10px solid #ffdddd;
}
.div-form {
  /* margin-top: 5vh; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.div-details {
  /* height: 50vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  flex: 3;
}

.div-updates {
  flex: 3;

  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 550px; */
  /* background: #d7a3c1; */
  background: #fddce5bd;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 5px;
  /* background-color: #d7a3c199; */
  /* border: 2px solid #b4b4b4; */
  /* height: 23vh; */
  /* border-radius: 8px; */
  /* padding: 10px;
  border-bottom: 5px solid #f7c1c1;
  border-radius: 10px 40px 10px 40px; */
}
.div-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.h4-updates {
  /* text-size-adjust: auto; */
  text-align: center;
  text-shadow: 2px 2px 2px #ce5937;
  color: #ffffff;
  background: #f7c1c1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  letter-spacing: 0px;
  word-spacing: 0px;
  /* color: #000000; */
  font-weight: 700;
  -webkit-text-decoration: none solid rgb(68, 68, 68);
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: capitalize;
  border-radius: 40px 20px 0px 40px;
}

.div-formEmail {
  background-color: #d7a3c199;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  /* margin-top: 5vh; */
  /* padding-right: 5vw; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* background-image: url("../img/2723836.jpg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
/* .div-backgroundImg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */
.div-backgroundImg {
  /* background-color: gold; */
  width: 700px;
  height: 500px;
  /* margin-right: 20px; */
}
.container {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.div-recommendations {
  width: 60vw;
  height: 100%;
  border-bottom: 5px solid #f7c1c1;
  border-radius: 10px 40px 10px 40px;
  border-radius: 8px;
}
.div-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.a1 {
  order: 1;
  color: #ffffff;
}
.a2 {
  order: 2;
  color: #ffffff;
}
.a3 {
  order: 3;
  color: #ffffff;
}
.a4 {
  order: 4;
  color: #ffffff;
}
@media (width <=600px) {
  .div-form,
  .div-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-recommendations {
    width: 88%;
  }
  .div-whatsApp {
  }
  .div-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .a1 {
    order: 2;
  }
  .a2 {
    order: 3;
  }
  .a3 {
    order: 4;
  }
  .a4 {
    order: 1;
  }
}
